<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename='js/editormd/css/editormd.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/editor.css') }}"/>
        <script type="text/javascript" src="{{url_for('static',filename='js/editormd/examples/js/jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/editormd/editormd.min.js')}}"></script>
        <title>编辑器 - 看护助手后台管理系统</title>
    {% endblock %}
</head>
<body>
<div style="padding: 10px">
    <p style="text-align: center">编辑器 - 看护助手后台管理系统</p>
</div>
<div id="layout" class="editor">
    <div id="type-select">
        <select id="type">
            <option value="aid">急救指南</option>
            <option value="care">看护建议</option>
            <option value="mdc">药品知识</option>
        </select>
    </div>
    <div id="editor-window">
        <textarea></textarea>
    </div>
    <div id="editor-control">
        <button id="show" style="display: none">show</button>
        <button id="submit">提交</button>
        <button id="exit">退出</button>
    </div>
</div>
</body>
<script>
    var testEditor;
    testEditor = editormd("editor-window", {
        placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
        height: 640,
        syncScrolling: "single",
        path: "{{ url_for('static',filename='js/editormd/lib/') }}",
        theme: "default",//工具栏主题
        previewTheme: "default",//预览主题
        editorTheme: "default",//编辑主题
        saveHTMLToTextarea: true,
        emoji: false,
        taskList: true,
        tocm: true,         // Using [TOCM]
        tex: true,                   // 开启科学公式TeX语言支持，默认关闭
        flowChart: true,             // 开启流程图支持，默认关闭
        sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
        toolbarIcons : function() {  //自定义工具栏，后面有详细介绍
            return editormd.toolbarModes['full']; // full, simple, mini
        },
    });
    $("#exit").bind('click',function () {
        location.href = "{{ url_for('index') }}"
    })
    $("#show").bind('click',function () {
        console.log(testEditor.getMarkdown())
        console.log($("#type").find("option:selected").val())
    });
    $("#submit").bind('click',function () {
        const data = {"tip_type":$("#type").find("option:selected").val(),"text": testEditor.getMarkdown()};
        $.ajax({
            url:'/editor/upload',
            type:'POST',
            data:JSON.stringify(data),
            success:function (data) {
                alert(data)
            },
            error:function (data) {
                alert(data)
            }
        })
    })
    // document.getElementById("show").onclick = function show() {
    //     console.log(testEditor.getMarkdown())
    // }
</script>
</html>